body {
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg);
    padding-top: 38px;

}

.main {
    margin: 0 auto;
    width: 1000px;
    height: 988px;
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 1);
}

/* Header */

.header_wrapper {
    width: 100%;
    height: 175px;
}

.logo_wrapper {
    float: left;
}

.logo_image {
    display: block;
    position: absolute;
    padding-top: 10px;
    padding-left: 28px;
    z-index: auto;
}

.logo_description {
    display: block;
    position: absolute;
    padding-top: 111px;
    padding-left: 100px;
    z-index: auto;
    color: #128aa7;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
}

.contacts_wrapper {
    float: right;
    padding-top: 10px;
    padding-right: 34px;

}

.contacts_wrapper span {
    display: block;
    color: #128aa7;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    line-height: 20px;
}

.contacts_wrapper a {
    text-decoration: none;
}

.countries_wrapper {
    float: right;
    clear: both;
    padding-top: 18px;
    padding-right: 32px;
}

.country_box {
    width: 54px;
    display: inline-block;
    text-align: center;
}

.country_link {
    display: block;
    color: #128aa7;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
    line-height: 10px;
    text-decoration: underline;
}

/* Content */

.main_photo img {
    display: block;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

.menu_panel {
    width: 100%;
    height: 28px;
}

.navigation {
    width: 100%;
    height: 100%;
    background-color: #353535;
}

.navigation::after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.navigation_item {
    display: inline;
    list-style: none;

}

.navigation_link {
    width: 139px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
}

.info_panel ul {
    display: block;
    float: left;
    list-style: none;
}

.news_panel ul {
    display: block;
    float: right;
    list-style: none;
}

/* Footer */

.copyright {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-family: Tahoma, sans-serif;
}


