body {
    background-size: 100%;
    background-color: #f9f9f9;
}

.wrapper {
    margin: 0 auto;
    width: 1060px;
    height: 950px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

/* HEADER */

.header {
    height: 210px;
}

.logo {
    padding: 50px 0 0 45px;
}

.menu_panel_top {
    margin: 40px 0 0 46px;
    width: 966px;
    height: 40px;
    background: #fff linear-gradient(to top, #444343, #5e5e5e);
}

.panel_links li {
    float: left;
    list-style: none;
}

.header_list_item a {
    padding: 11px 45px;
    line-height: 40px;
    font-size: 15px;
    font-family: OpenSans, sans-serif;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header_list_item a:hover {
    background-image: linear-gradient(to top, #2e2e2e, #4a4a4a);
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

/* CONTENT */

.container {
    width: 966px;
    height: 580px;
    margin: 0 0 40px 46px;
}

.left_menu {
    position: absolute;
    width: 240px;
    height: 240px;
    background-color: white;
    border: 1px solid #c8c8c8;
    display: inline-block;
    box-sizing: border-box;
}

.left_menu_links {
    list-style: none;
}

.menu_list_item {
    height: 40px;
    border-bottom: 1px solid #c8c8c8;
    box-sizing: border-box;
}

.menu_link_item {
    display: block;
    padding: 12px 25px;
    font-size: 13px;
    font-family: OpenSans, sans-serif;
    text-align: left;
    text-decoration: none;
    color: #656363;
}

.menu_link_item:hover {
    padding-left: 30px;
    background-color: #f9f9f9;
    color: #2c2c2c;
}

.photo_container {
    margin-left: 290px;
    border: 1px solid #c8c8c8;
}

.photo {
    display: block;
    margin: 46px auto;
}

.description_container {
    margin-left: 290px;
}

.description {
    padding: 40px 25px;
    display: block;
    font-size: 13px;
    font-family: OpenSans, sans-serif;
    color: #2c2c2c;
}

/* FOOTER */

.menu_panel_bottom {
    margin: 40px 0 40px 46px;
    width: 966px;
    height: 40px;
    background: #e1e1e1;
}

.footer_panel_item {
    padding: 12px 45px;
    line-height: 40px;
    font-size: 13px;
    font-family: OpenSans, sans-serif;
    color: #2c2c2c;
    text-decoration: none;
}

.footer_panel_item a:hover {
    text-decoration: underline;
}

.copyright {
    display: block;
    margin: 0;
    padding: 0 26px 0 235px;
}